In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [3]:
df = pd.read_csv("gld_price_data.csv")

In [4]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  01/02/08  1447.160034  84.860001  78.470001  15.180  1.471692
1  01/03/08  1447.160034  85.570000  78.370003  15.285  1.474491
2  01/04/08  1411.630005  85.129997  77.309998  15.167  1.475492
3  01/07/08  1416.180054  84.769997  75.500000  15.053  1.468299
4  01/08/08  1390.189941  86.779999  76.059998  15.590  1.557099

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   object
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: float64(5), object(1)
memory usage: 107.5+ KB

In [6]:
df.shape

(2290, 6)

In [7]:
x = df.drop(["GLD", "Date"], axis= 1)
y = df["GLD"]

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.3)

In [9]:
x_train.shape

(1603, 4)

In [10]:
x_test.shape

(687, 4)

In [11]:
y_train.shape

(1603,)

In [12]:
y_test.shape

(687,)

In [13]:
scaler = StandardScaler()

In [14]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [15]:
model = Sequential()

In [16]:
model.add(Dense(10,activation = "relu" , input_dim = 4))
model.add(Dense(10, activation= "relu"))
model.add(Dense(1, activation= "linear"))

In [17]:
model.compile(loss = "mean_squared_error" , optimizer = "Adam")

In [18]:
from keras.callbacks import EarlyStopping

In [19]:
callback = EarlyStopping(
    monitor='val_loss',
    min_delta=0,
    patience=0,
    verbose=0,
    mode='auto',
    baseline=None,
    restore_best_weights=False,
)

In [24]:
history = model.fit(x_train_scaled, y_train , epochs=100 , validation_split=0.1,verbose='auto' , callbacks=callback)

Epoch 1/100
46/46 [==============================] - 0s 5ms/step - loss: 63.9549 - val_loss: 53.6524
Epoch 2/100
46/46 [==============================] - 0s 4ms/step - loss: 64.3407 - val_loss: 54.1316

In [26]:
y_pred = model.predict(x_test_scaled)

22/22 [==============================] - 0s 3ms/step

In [27]:
from sklearn.metrics import r2_score

In [28]:
r2_score(y_test , y_pred)

0.8779524267622383